.resident {
    margin-bottom: 1.2rem;
    border-radius: 0.5em;
    background-color: #062226;
    overflow: hidden;
    box-shadow: 1px 1px 5px #000;
    max-width: 300px;
}
.resident__header {
    position: relative;
}
.resident__container-status {
    display: flex;
    gap: 0.5em;
    align-items: center;
    position: absolute;
    top: 1.5em;
    width: max-content;
    background-color: #062226;
    padding: 0.2em 0.6em 0.2em 0.4em;
    border-radius: 0 0.4em 0.4em 0;
    box-shadow: 1px 1px 5px #000;
}
.resident__circle {
    display: block;
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #aaa;
}
.unknown {
    background-color: #aaa;
}
.Alive {
    background-color: rgb(6, 161, 6);
}
.Dead {
    background-color: rgb(219, 7, 7);
}
.resident__body {
    padding: 1em 1.3em 1.8em;
}
.resident__name {
    text-align: center;
    margin-bottom: 0.8em;
}
.resident__hr {
    border: none;
    border-top: 1px solid #aaa4;
}
.resident__list {
    padding-top: 0.5em;
    display: grid;
    gap: 0.3em;
}
.resident__item {
    display: flex;
    flex-direction: column;
}
.resident__label {
    padding: 0.5em;
    font-size: 0.8rem;
    position: relative;
    left: 1em;
    color: #aaa;
}